/* 전역 css 파일로 형성 */

/* *, html, body 등 요소를 작성하고 전역 css로 쓰고 있다 볼 수 있음
이후 작업한다면 StyledEngineProvider, ThemeProvider로 변환해보기 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: #ffffff;
}

/* Header.jsx */

.header {
  /* 좌우 마진을 -10 */
  margin: auto -10px;
  /* 상하 패딩 10, 좌우 패딩 20 */
  padding: 10px 20px;
  /* box-shadow:
  1번 인수는 가로 위치
  2번 인수는 세로 위치
  3번 인수는 흐림
  4번 인수는 확장 */
  box-shadow: 0 0 2px 0 rgb(114, 114, 114, 0.4);
  /* <div styles={{display: "flex", flexDirection: "row", alignSelf: "center"}}></div> */
  /* flex 정렬 */
  display: flex;
  /* row -> column: 세로에서 가로 정렬 */
  flex-direction: row;
  /* 아이템 자체(self)를 정렬하기, 단 grid나 flex에서 유효함 */
  align-self: center;
  /* 해당 요소 내부 아이템들(items)를 정렬하기, grid나 flex에서 유효함 */
  align-items: center;
}

.header h3 {
  font-size: 1.5rem;
  /* flex 요소에서 작성하고 있으므로 */
  margin-left: 10px;
  color: #5f6368;
}

/* CreateArea.jsx */

form {
  /* 포지션 relative, absolute 등 기준점 가능 */
  position: relative;
  /* 너비 */
  width: 600px;
  /* 상하 마진, 나머지 auto로 div 내부 요소 가운데 정렬 효과 */
  margin: 32px auto 50px auto;
  /* 배경색 */
  background: #ffffff;
  /* 패딩 */
  padding: 7px;
  /* 테두리 둥글기 */
  border-radius: 7px;
  /* 가로, 세로, 흐림 */
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

form input {
  /* form 내부 공간 100% */
  width: 100%;
  /* 테두리 없음 */
  border: none;
  /* 패딩 상하 4, 좌우 10 */
  padding: 4px 10px;
  /* 마진 바닥 20 */
  margin-bottom: 20px;
  /* outline 없음 */
  outline: none;
  /* 폰트 크기 1rem */
  font-size: 1rem;
  /* 리사이즈 없음(?) */
  resize: none;
}

form textarea {
  /* form 내부 공간 100% */
  width: 100%;
  /* 테두리 없음 */
  border: none;
  /* 패딩 상하 4, 좌우 10 */
  padding: 4px 10px;
  /* outline 없음 */
  outline: none;
  /* 폰트 크기 1rem */
  font-size: 1rem;
  /* 리사이즈 없음(?) */
  resize: none;
}

form button {
  /* form이 relative */
  position: absolute;
  /* flex 정렬 */
  display: flex;
  /* 내용 가로 가운데 정렬 */
  justify-content: center;
  /* 내용 세로 가운데 정렬 */
  align-items: center;
  /* 컨테이너 기준 위치 조절 */
  right: 18px;
  bottom: -18px;
  /* 배경 */
  background: rgb(255, 200, 18);
  /* 색상 */
  color: #ffffff;
  /* 테두리 */
  border: none;
  /* 둥글기 */
  border-radius: 50%;
  /* 너비 */
  width: 36px;
  /* 길이 */
  height: 36px;
  /* 가로, 세로, 흐림 */
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  /* 포인터 형 커서 */
  cursor: pointer;
  /* 아웃라인 없음 */
  outline: none;
}

/* Note.jsx */

.note {
  /* 배경 */
  background: #ffffff;
  /* 너비 */
  width: 240px;
  /* 둥글기 */
  border-radius: 7px;
  /* 가로, 세로, 흐림 */
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  /* 패딩 */
  padding: 10px;
  /* 마진 */
  margin: 16px;
  /* 컨텐츠 대비 위치 */
  float: left;
}

.note h1 {
  /* 폰트 크기 */
  font-size: 1rem;
  /* 하단 마진 */
  margin-bottom: 6px;
}

.note p {
  /* 폰트 크기 */
  font-size: 1rem;
  /* 하단 마진 */
  margin-bottom: 10px;
  /* 공백 문자 처리, 줄 바꿈은 개행 문자와 <br>에서 일어나며 줄이 너무 길어서 넘칠 경우 자동으로 줄 바꾸기 */
  white-space: pre-wrap;
  /* 텍스트가 컨테이너 요소 바깥으로 오버플로 할 때 줄 바꿀지 지정
  break word: 실제 overflow-wrap 속성 상관 없이 word-break: normal + overflow-wrap: anywhere과 같은 효과 */
  word-wrap: break-word;
}
